# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual Environment
venv/
.venv/
.env

# Uploads
backend/uploads/

# Python cache
.pytest_cache/
.mypy_cache/

# Database
*.db
*.sqlite3

# Celery runtime files
celerybeat-schedule*
celerybeat.pid

# Logs
*.log

# VSCode
.vscode/

# Mac
.DS_Store

# Node
frontend/node_modules/

# Build folders
frontend/dist/
frontend/build/

# Environment files
.env
.env.*

!.env.example

# Docker
*.tar

# Coverage
coverage/
htmlcov/

# Secrets
*.pem
*.key
